name: Full CI Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # BACKEND
      - name: Install backend deps
        run: |
          cd BACKEND
          npm ci

      - name: Start backend
        run: |
          cd BACKEND
          npm start &
        env:
          MONGODB_URL: ${{ secrets.MONGODB_URL }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}

      # frontend
      - name: Install frontend deps
        run: |
          cd frontend
          npm ci

      - name: Start frontend
        run: |
          cd frontend
          npm start &
        env:
          REACT_APP_API_URL: http://localhost:8070

      # cypress
      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          wait-on: http://localhost:3000
        env:
          CYPRESS_BASE_URL: http://localhost:3000
